{
	"plugins": [
		"array-includes",
		"@babel/plugin-proposal-class-properties",
		"@babel/plugin-proposal-object-rest-spread",
		"@babel/plugin-syntax-throw-expressions",
		"@babel/plugin-transform-modules-commonjs",
		"@babel/plugin-transform-object-assign",
		["@babel/plugin-transform-runtime", {
      		"regenerator": true
    	}],
		["module-resolver", {
			"root": ["./test"]
		}]
	],
	"presets": [
		[
			"@babel/preset-env",
			{
				"useBuiltIns": false
			}
		]
	]
}
